<!-- Chào mừng bạn đã đến với trang web của tôi. Như chúng ta đã biết. Ngày nay vai trò của AI ngày càng trở nên quan trọng đối với cuộc sống. Chúng ta có thể tìm thấy ứng dụng của AI ở khắp mọi nơi như hệ thống nhận diện khuôn mặt, bài toán dịch máy, hệ thống khuyến nghị sản phẩm. AI có thể nói đang là hot trend ở thế kỷ 21 và trong tương lai đây vẫn là một lĩnh vực tiếp tục sẽ bùng nổ. Tại Việt Nam thì xu hướng học tập và nghiên cứu về AI chỉ mới bắt đầu vào những năm 2016 và chúng ta là một cộng đồng còn khá non trẻ. Chính vì thế chúng ta rất thiếu những nguồn tài liệu tốt. Nhiều bạn sinh viên muốn học AI mà không biết nên học như thế nào? Tìm kiếm nguồn tài liệu từ đâu?

Xuất phát từ nhu cầu đó, mình xây dựng website này nhằm mục đích giúp đỡ các bạn học sinh, sinh viên tìm hiểu về AI một cách đơn giản và hệ thống hơn.
Tại đây các bạn có thể tìm kiếm được rất nhiều các bài viết liên quan tới đa dạng các lĩnh vực trong AI như các domain được liệt kê bên dưới: -->

<h1>Jira</h1>
<br>
<!-- Thị giác máy tính (computer vision) là một trong những lĩnh vực rất quan trọng trong AI giúp giải quyết được nhiều bài toán liên quan tới phân loại ảnh, nhận diện vật thể, phân khúc hình ảnh, xác thực khuôn mặt,.... Thị giác máy tính có nhiều tiềm năng ứng dụng trong các ngành công nghiệp như sản xuất ô tô, thiết bị thông minh, robotics,.... Không những thế  trong y sinh nó còn giúp bác sĩ chuẩn đoán vị trí khối u dựa trên mô hình nhận diện khối u. Trong quản lý giao thông chúng ta cũng có thể ứng dụng thị giác máy tính để đếm lưu lượng xe cộ. Thuật toán OCR tự động trích xuất nội dung chữ từ ảnh chụp văn bản,.... và còn rất rất nhiều những ứng dụng tiềm năng khác của thị giác máy tính mà các bạn sẽ được tìm hiểu và thực hành qua loạt bài viết này. -->

<br>
<br>

<div class="fontsize">
<ol>
    <li>
        <a href="./2022/12/13/Jira.html">Sử dụng Rest API trong Jira</a>
    </li>
    <!-- <li>
        <a href="./2019/08/22/convolutional-neural-network.html">Mạng tích chập</a>
    </li> -->
</ol>
</div>
