
<br>
<h1>Tools và Công cụ</h1>

<div class="fontsize">
    <ol>
        <li>
            <a href="./2022/12/13/gioi-thieu-cong-cu-Jira.html">Giới thiệu công cụ Jira</a>
        </li>
        <li>
            <a href="./2022/12/14/huong-dan-su-dung-markdown.html">Hướng dẫn sử dụng Markdown</a>
        </li>
        <li>
            <a href="./2022/12/16/01-gioi-thieu-cong-cu-ngrok.html">Giới thiệu công cụ Ngrok</a>
        </li>
        <li>
            <a href="./2022/12/16/03-huong-dan-su-dung-google-colab.html">Giới thiệu Google Colab</a>
        </li>
        <li>
            <a href="./2022/12/27/huong-dan-su-dung-wget.html">Hướng dẫn sử dụng wget</a>
        </li>
    </ol>
</div>

<br>
<br>
<h1>Lập trình Python</h1>

<div class="fontsize">
    <ol>
        <li>
            <a href="./2022/12/15/python-virtual-enviroment.html">Cài đặt môi trường ảo cho Python</a>
        </li>
        <li>
            <a href="./2022/12/30/mot-so-kieu-du-lieu-trong-python.html">Một số kiểu dữ liệu quan trọng trong Python</a>
        </li>
    </ol>
</div>

<br>
<br>

<h1>Deep Learning</h1>

<div class="fontsize">
    <ol>
        <li>
            <a href="./2022/12/16/02-gan-nhan-du-lieu.html">Gán nhãn dữ liệu - Khái niệm và Công cụ</a>
        </li>
        <li>
            <a href="./2022/12/16/04-thuc-hanh-yolov7.html">Thực hành Yolov7</a>
        </li>
    </ol>
</div>